<section class="hero">
  <div class="container hero__container">
    <h1 class="visually-hidden">Амир Хасанов - python-разработчик из города Москва</h1>

    <div class="hero__content">
      <div class="hero__text-wrapper">
        <h2 class="title hero__title">
          <span>Меня зовут Амир Хасанов</span>
        </h2>
        <div class="hero__text">Я python-разработчик из города Москва</div>
        <div class="hero__links-wrapper">
          <a class="btn-reset btn hero__link" href="portfolio-section">Портфолио</a>
          <a class="btn-reset btn btn--transparent hero__link" href="portfolio-section">Про меня</a>
        </div>
      </div>
      <picture>
        <source srcset="img/hero/hero-person-image.webp" type="image/webp">
        <img class="hero__image" loading="lazy" src="img/hero/hero-person-image.png" width="435" height="461"
          alt="На данной фотографии изображен Амир Хасанов">
      </picture>
    </div>

    <div class="social">
      <h2 class="title title--without-circle social__title">Социальные сети</h2>
      <ul class="list-reset social__list" title="Мои социальные сети">
        <li class="social__item"><a href="#" target="_blank" class="social__link social__link--gh"
            aria-label="Я на GitHub"></a></li>
        <li class="social__item"><a href="#" target="_blank" class="social__link social__link--inst"
            aria-label="Я в Instagram"></a></li>
        <li class="social__item"><a href="#" target="_blank" class="social__link social__link--fc"
            aria-label="Я в Facebook"></a></li>
      </ul>
    </div>
  </div>
</section>